@import 'fonts';

:root {
    --bg-color: #F6E7D4;
    --color-darkred: #A61B1D;
    --color-green: #107556;
    --color-darkgreen: #094130;
    --border-default: 2px solid black;
}

html {
    font-family: Lora, sans-serif;
    font-size: 62.5%;
    line-height: 26px;
    background-color: var(--bg-color);
}

button {
    font-size: 2.4rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2rem 3rem;
}

.layout {
    margin: 4rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 1280px) {
        display: grid;
        grid-template-areas:
        "room ."
        "title ."
        "subtitle chat"
        "video chat"
        "button button";
        grid-template-columns: 60% 40%;
        grid-template-rows: 5rem 5rem 4.5rem 2fr 4rem;
        gap: 2rem;
        margin: 3rem;
    }
}

.room {
    font-weight: bold;
    font-size: 4rem;
    margin: 2rem 0;

    @media (min-width: 1280px) {
        grid-area: room;
        font-size: 2.4rem;
    }
}

.header {
    margin: 2rem 0;
    font-size: 6rem;
    font-weight: bold;

    @media (min-width: 1280px) {
        grid-area: title;
        font-size: 4.8rem;
    }
}
.subtitle {
    margin: 2rem 0;
    font-weight: var(--medium-font);
    font-size: 5rem;
    @media (min-width: 1280px) {
        grid-area: subtitle;
        font-size: 3.6rem;
    }
}

.video-container {
    display: grid;
    font-weight: bold;
    color: white;
    padding: 2.5rem;
    font-size: 3rem;
    border: black 2px solid;
    border-radius: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (min-width: 1280px) {
        grid-area: video;
        font-size: 2.4rem;
        width: auto;
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }

    &-icon {
        position: relative;
        border: black 2px solid;
        border-radius: 2rem;

        .name {
            background-color: black;
            padding: 1rem 2rem;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }

        #self {
            width: 200px;
        }

        .peer {
            width: 200px;
        }
    }
}


.chat-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: black solid 2px;
    border-radius: 2rem 2rem 0 0;
    font-size: 3.5rem;
    margin: 5rem 0;

    @media (min-width: 1280px) {
        grid-area: chat;
    }

    .chat-title {
        text-align: center;
        padding: 2rem 2rem;
        font-weight: var(--medium-font);
        box-sizing: border-box;
        border-bottom: var(--border-default);
    }

    .topic-title {
        font-weight: bold;
        font-size: 4.8rem;
        padding: 2rem 2rem;
        border-bottom: var(--border-default);
        box-sizing: border-box;

        @media (min-width: 1280px) {
            font-size: 2.4rem;
        }
    }

    .chat {
        padding: 2rem 2rem;
        @media (min-width: 1280px) {
            font-size: 2.4rem;
        }
        &-message {

            .person-name {
                font-weight: bold;
            }
        }
        &-control {
            display: flex;

            @media (min-width: 1280px) {
                margin-top: auto;
            }

            .enter-message {
                font-size: 4rem;
                padding: 2rem 2rem;
                flex-basis: 70%;
                border-top: var(--border-default);

                @media (min-width: 1280px) {
                    font-size: 2.4rem;
                }
                &::placeholder {
                    font-style: italic;
                }
            }

            .send {
                flex-basis: 30%;
                border-radius: 0;
                background-color: var(--color-darkgreen);
            }
        }
    }
}

.chat-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-container {
    grid-area: button;
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;

    @media (min-width: 1280px) {
        grid-area: button;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .leave-room {
        width: 35rem;
        margin: 5rem 0;
        background-color: var(--color-darkred);
    
        @media (min-width: 1280px) {
            grid-area: button;
            width: 20%;
        }
    }
    
    .start-listening {
        width: 38rem;
        margin: 5rem 0;
        background-color: var(--color-green);
    
        @media (min-width: 1280px) {
            grid-area: button;
        }
    }   
}
